{% extends 'base.html.twig' %}

{% block title %}Accueil | Eco tourism{% endblock %}

{% block body %}
<style>
    .form-title {
    font-size: 24px;
    color: #76BA1B; 
    margin-bottom: 20px; 
    text-align: center; 
}
.top{
    margin-top: 15px !important;
}
.form-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-input {
    padding-right: 30px;
}
.field {
            position: relative;
            width: 312px !important;
            margin-top: 6px;
            margin-bottom: 20px;
        }
.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btn_full{
      position: relative;
            width: 312px !important;
          
            
            margin-left: 45px;
}
/* FILE */
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .inputfile+label {
            text-transform: uppercase;
        }

        .inputfile+label {
            max-width: 100%;
            font-size: 10px;
            font-weight: bold;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            text-align: center;
        }

        .inputfile+label figure {
            width: 100px !important;
            height: 100px !important;
            border-radius: 50%;
            background-color: transparent;
            display: block;
             margin: 0 !important;
            margin-bottom: 0px !important;
        }
        .your_picture{
        margin-left: 100px !important;
        }
        .inputfile+label figure img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border-color: #8EC038 !important;
        }

        @media screen and (max-width: 768px) {
            .form-file {
                margin-bottom: 0px !important;
            }
        }
        .file-selected {
    border: 2px solid #A7C94D; 
}
</style>
<section id="hero" class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-12">
                <div id="login">
                    
                    <h4 class="form-title">{{title}}</h4>
                    <form method='post' style="width: 100%;" class="form" enctype="multipart/form-data">
                    <div class="form-container">
                        
                         <div class="form-group field">
                            <span class="input-icon"><i class="fas fa-card"></i></span>
                             {{ form_widget(registerform.cin, { 'attr': {'class': 'form-control', 'placeholder': 'CIN' } }) }}
                            {{ form_errors(registerform.cin) }}
                           {{ form_widget(registerform.phone, { 'attr': {'class': 'form-control top', 'placeholder': 'Téléphone' } }) }}
                            {{ form_errors(registerform.phone) }}
                        </div>
                 <div class="form-group field">
                    {{ form_widget(registerform.images, { 'attr': {'class': 'inputfile', 'onchange': 'readURL(this);'} }) }}
                    <label for="{{ registerform.images.vars.id }}" class="your_picture">
                        <figure>
                            <img src="{{ asset('Frontend/img/your-picture.png') }}" alt="" class="your_picture_image" style="width: 100px; height: 100px;">
                        </figure>
                    </label>
                </div>

                       
                        <div class="form-group field">
                            {{ form_widget(registerform.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom' } }) }}
                            {{ form_errors(registerform.nom) }}
                        </div>

                        <div class="form-group field">
                            {{ form_widget(registerform.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom' } }) }}
                            {{ form_errors(registerform.prenom) }}
                        </div>
                        <div class="form-group field">
                            {{ form_widget(registerform.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email' } }) }}
                            {{ form_errors(registerform.email) }}
                        </div>
                        <div class="form-group field">
                            {{ form_widget(registerform.ville, { 'attr': {'class': 'form-control', 'placeholder': 'Ville' } }) }}
                            {{ form_errors(registerform.ville) }}
                        </div>
                         <div class="form-group field">
                            {{ form_widget(registerform.pays, { 'attr': {'class': 'form-control', 'placeholder': 'Pays' } }) }}
                            {{ form_errors(registerform.pays) }}
                        </div>
                        <div class="form-group field">
                            {{ form_widget(registerform.adresse, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse' } }) }}
                            {{ form_errors(registerform.adresse) }}
                        </div>

                        <div class="form-group field">
                            {{ form_widget(registerform.zipcode, { 'attr': {'class': 'form-control', 'placeholder': 'Code Postal' } }) }}
                            {{ form_errors(registerform.zipcode) }}
                        </div>
                        <div class="form-group field">
                            {{ form_widget(registerform.dateNaissance, { 'attr': {'class': 'form-control', 'placeholder': 'Date de Naissance' } }) }}
                            {{ form_errors(registerform.dateNaissance) }}
                        </div>

                       
                        
                           <div class="form-group field">
                            {{ form_widget(registerform.password.first, { 'attr': {'class': 'form-control password-input password', 'placeholder': 'Mot de passe', 'id': 'password' } }) }}
                            <span class="toggle-password" >
                                <i id="eye" class="far fa-eye-slash" onclick="showHidePwd();"></i>
                            </span>
                        </div>

                        <div class="form-group field">
                            {{ form_row(registerform.password.second, { 'attr': {'class': 'form-control password-input repassword', 'placeholder': 'Confirmer le mot de passe', 'id': 'repassword' } }) }}
                            <span class="toggle-password" toggle="#password-field-second">
                                <i id="eye1" class="far fa-eye-slash" onclick="showHideRPwd();"></i>
                            </span>
                            {{ form_errors(registerform.password.second) }}
                        </div> </div>
                         {{ form_widget(registerform.submit, { 'attr': {'class': 'btn_full top' } }) }}
                        {{ form_end(registerform) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>








{% endblock %}