{% extends 'base.html.twig' %}

{% block title %}profil | Eco tourism{% endblock %}

{% block body %}
		<section class="parallax-window" data-parallax="scroll" data-image-src="{{asset('Frontend/img/slide_hero_2.jpg')}}" data-natural-width="1400" data-natural-height="470">
		<div class="parallax-content-1 opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.4)">
			<div class="animated fadeInDown">
				    {% if app.user %}
						<h1>Bienvenue {{ app.user.nom }} !</h1>
				        <p>Cursus neque cursus curae ante scelerisque vehicula.</p>
                            
                     {% endif %}
			
			</div>
		</div>
	</section>
	<!-- End section -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Home</a>
					</li>
					<li><a href="#">Category</a>
					</li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- End Position -->

		<div class="margin_60 container">
			<div id="tabs" class="tabs">
			<nav>
				<ul>
					<li><a href="#section-1" class="icon-booking"><span>Réservations</span></a></li>
					<li><a href="#section-2" class="icon-wishlist"><span>Mes favoris</span></a></li>
					<li><a href="#section-3" class="icon-settings"><span>Paramètres</span></a></li>
					<li><a href="#section-4" class="icon-profile"><span>Profil</span></a></li>
				</ul>
			</nav>

				<div class="content">

					<section id="section-1">

						<div class="strip_booking">
							<div class="row">
								<div class="col-lg-2 col-md-2">
									<div class="date">
										<span class="month">Dec</span>
										<span class="day"><strong>23</strong>Sat</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-5">
									<h3 class="hotel_booking">Hotel Mariott Paris<span>2 Adults / 2 Nights</span></h3>
								</div>
								<div class="col-lg-2 col-md-3">
									<ul class="info_booking">
										<li><strong>Booking id</strong> 23442</li>
										<li><strong>Booked on</strong> Sat. 23 Dec. 2015</li>
									</ul>
								</div>
								<div class="col-lg-2 col-md-2">
									<div class="booking_buttons">
										<a href="#0" class="btn_2">Edit</a>
										<a href="#0" class="btn_3">Cancel</a>
									</div>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- End strip booking -->

						<div class="strip_booking">
							<div class="row">
								<div class="col-lg-2 col-md-2">
									<div class="date">
										<span class="month">Dec</span>
										<span class="day"><strong>27</strong>Fri</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-5">
									<h3 class="tours_booking">Louvre Museum<span>2 Adults / 2 Childs</span></h3>
								</div>
								<div class="col-lg-2 col-md-3">
									<ul class="info_booking">
										<li><strong>Booking id</strong> 23442</li>
										<li><strong>Booked on</strong> Sat. 20 Dec. 2015</li>
									</ul>
								</div>
								<div class="col-lg-2 col-md-2">
									<div class="booking_buttons">
										<a href="#0" class="btn_2">Edit</a>
										<a href="#0" class="btn_3">Cancel</a>
									</div>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- End strip booking -->

						<div class="strip_booking">
							<div class="row">
								<div class="col-lg-2 col-md-2">
									<div class="date">
										<span class="month">Dec</span>
										<span class="day"><strong>28</strong>Fri</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-5">
									<h3 class="tours_booking">Tour Eiffel<span>2 Adults</span></h3>
								</div>
								<div class="col-lg-2 col-md-3">
									<ul class="info_booking">
										<li><strong>Booking id</strong> 23442</li>
										<li><strong>Booked on</strong> Sat. 20 Dec. 2015</li>
									</ul>
								</div>
								<div class="col-lg-2 col-md-2">
									<div class="booking_buttons">
										<a href="#0" class="btn_2">Edit</a>
										<a href="#0" class="btn_3">Cancel</a>
									</div>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- End strip booking -->

						<div class="strip_booking">
							<div class="row">
								<div class="col-lg-2 col-md-2">
									<div class="date">
										<span class="month">Dec</span>
										<span class="day"><strong>30</strong>Fri</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-5">
									<h3 class="transfers_booking">Orly Airport<span>2 Adults / 2Childs</span></h3>
								</div>
								<div class="col-lg-2 col-md-3">
									<ul class="info_booking">
										<li><strong>Booking id</strong> 23442</li>
										<li><strong>Booked on</strong> Sat. 20 Dec. 2015</li>
									</ul>
								</div>
								<div class="col-lg-2 col-md-2">
									<div class="booking_buttons">
										<a href="#0" class="btn_2">Edit</a>
										<a href="#0" class="btn_3">Cancel</a>
									</div>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- End strip booking -->

					</section>
					<!-- End section 1 -->

					<section id="section-2">
						<div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="hotel_container">
									<div class="img_container">
										<a href="single_hotel.html">
											<img src="img/hotel_1.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon top_rated">
											</div>
											<div class="score">
												<span>7.5</span>Good
											</div>
											<div class="short_info hotel">
												<span class="price"><sup>$</sup>59</span>
											</div>
										</a>
									</div>
									<div class="hotel_title">
										<h3><strong>Park Hyatt</strong> Hotel</h3>
										<div class="rating">
											<i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box tour -->
							</div>
							<!-- End col-md-6 -->

							<div class="col-lg-4 col-md-6 ">
								<div class="hotel_container">
									<div class="img_container">
										<a href="single_hotel.html">
											<img src="img/hotel_2.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon top_rated">
											</div>
											<div class="score">
												<span>9.0</span>Superb
											</div>
											<div class="short_info hotel">
												<span class="price"><sup>$</sup>45</span>
											</div>
										</a>
									</div>
									<div class="hotel_title">
										<h3><strong>Mariott</strong> Hotel</h3>
										<div class="rating">
											<i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box -->
							</div>
							<!-- End col-md-6 -->

							<div class="col-lg-4 col-md-6">
								<div class="tour_container">
									<div class="img_container">
										<a href="single_tour.html">
											<img src="img/tour_box_1.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon top_rated">
											</div>
											<div class="short_info">
												<i class="icon_set_1_icon-44"></i>Historic Buildings<span class="price"><sup>$</sup>45</span>
											</div>
										</a>
									</div>
									<div class="tour_title">
										<h3><strong>Arc Triomphe</strong> tour</h3>
										<div class="rating">
											<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box tour -->
							</div>
							<!-- End col-md-6 -->

							<div class="col-lg-4 col-md-6">
								<div class="tour_container">
									<div class="img_container">
										<a href="single_tour.html">
											<img src="img/tour_box_3.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon popular">
											</div>
											<div class="short_info">
												<i class="icon_set_1_icon-44"></i>Historic Buildings<span class="price"><sup>$</sup>45</span>
											</div>
										</a>
									</div>
									<div class="tour_title">
										<h3><strong>Versailles</strong> tour</h3>
										<div class="rating">
											<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box tour -->
							</div>
							<!-- End col-md-6 -->

							<div class="col-lg-4 col-md-6">
								<div class="tour_container">
									<div class="img_container">
										<a href="single_tour.html">
											<img src="img/tour_box_4.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon popular">
											</div>
											<div class="short_info">
												<i class="icon_set_1_icon-30"></i>Walking tour<span class="price"><sup>$</sup>45</span>
											</div>
										</a>
									</div>
									<div class="tour_title">
										<h3><strong>Pompidue</strong> tour</h3>
										<div class="rating">
											<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box tour -->
							</div>
							<!-- End col-md-6 -->

							<div class="col-lg-4 col-md-6">
								<div class="transfer_container">
									<div class="img_container">
										<a href="single_transfer.html">
											<img src="img/transfer_1.jpg" width="800" height="533" class="img-fluid" alt="Image">
											<div class="ribbon top_rated">
											</div>
											<div class="short_info">
												<span class="price"><sup>$</sup>45</span>
											</div>
										</a>
									</div>
									<div class="transfer_title">
										<h3><strong>Orly Airport</strong> private</h3>
										<div class="rating">
											<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
										</div>
										<!-- end rating -->
										<div class="wishlist_close_admin">
											-
										</div>
									</div>
								</div>
								<!-- End box tour -->
							</div>
							<!-- End col-md-6 -->

						</div>
						<!-- End row -->
						<button type="submit" class="btn_1 green">Update wishlist</button>
					</section>
					<!-- End section 2 -->

				<section id="section-3">
					<div class="row">
						<div class="col-md-6 add_bottom_30">
							<h4>Changer votre mot de passe</h4>
							<div class="form-group">
								<label>Ancien mot de passe</label>
								<input class="form-control" name="old_password" id="old_password" type="password">
							</div>
							<div class="form-group">
								<label>Nouveau mot de passe</label>
								<input class="form-control" name="new_password" id="new_password" type="password">
							</div>
							<div class="form-group">
								<label>Confirmer le nouveau mot de passe</label>
								<input class="form-control" name="confirm_new_password" id="confirm_new_password" type="password">
							</div>
							<button type="submit" class="btn_1 green">Mettre à jour le mot de passe</button>
						</div>
						<div class="col-md-6 add_bottom_30">
							<h4>Changer votre adresse e-mail</h4>
							<div class="form-group">
								<label>Ancienne adresse e-mail</label>
								<input class="form-control" name="old_email" id="old_email" type="email">
							</div>
							<div class="form-group">
								<label>Nouvelle adresse e-mail</label>
								<input class="form-control" name="new_email" id="new_email" type="email">
							</div>
							<div class="form-group">
								<label>Confirmer la nouvelle adresse e-mail</label>
								<input class="form-control" name="confirm_new_email" id="confirm_new_email" type="email">
							</div>
							<button type="submit" class="btn_1 green">Mettre à jour l'e-mail</button>
						</div>
					</div>
					<!-- Fin de la ligne -->
				</section>

					<!-- End section 3 -->
				{% if app.user is defined and app.user.images is defined and app.user.images|length > 0 %}
					<section id="section-4">
						<div class="row">
							<div class="col-md-6">
								<h4>Mon profil</h4>
								<ul id="profile_summary">
								<li>E-mail <span>{{ app.user.email}}</span></li>
								<li>Prénom <span>{{ app.user.prenom}}</span></li>
								<li>Nom <span>{{ app.user.nom}}</span></li>
								<li>Téléphone <span>{{ app.user.phone}}</span></li>
							<li>Date de naissance <span>{{ app.user.dateNaissance|date('d/m/Y') }}</span></li>

								<li>Adresse <span>{{ app.user.adresse}}</span></li>
								<li>Ville <span>{{ app.user.ville}}</span></li>
								<li>Code postal <span>{{ app.user.zipcode}}</span></li>
								<li>Pays <span>{{ app.user.pays}}</span></li>
							</ul>

							</div>
							<div class="col-md-6">
								<p>
						
								<img src="{{ asset('assets/uploads/profils/mini/300x300-' ~ app.user.images[0].nom ) }}" alt="{{ app.user.nom }}" class="img-fluid styled profile_pic" width ="200px" >
							

								</p>
							</div>
						</div>
						<!-- End row -->

						<div class="divider"></div>

						<div class="row">
							<div class="col-md-12">
								<h4>Modifier le profil</h4>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Prénom</label>
									<input class="form-control" name="first_name" id="first_name" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Nom de famille</label>
									<input class="form-control" name="last_name" id="last_name" type="text">
								</div>
							</div>
						</div>
						<!-- Fin de la ligne -->

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Numéro de téléphone</label>
									<input class="form-control" name="email_2" id="email_2" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Date de naissance <small>(jj/mm/aaaa)</small></label>
									<input class="form-control" name="email" id="email" type="text">
								</div>
							</div>
						</div>
						<!-- Fin de la ligne -->

						<hr>
						<div class="row">
							<div class="col-md-12">
								<h4>Modifier l'adresse</h4>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Adresse</label>
									<input class="form-control" name="first_name" id="first_name" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Ville</label>
									<input class="form-control" name="last_name" id="last_name" type="text">
								</div>
							</div>
						</div>
						<!-- Fin de la ligne -->

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Code postal</label>
									<input class="form-control" name="email" id="email" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Pays</label>
									<select id="country" class="form-select" name="country">
										<option value="">Sélectionner...</option>
									</select>
								</div>
							</div>
						</div>
						<!-- Fin de la ligne -->

						<hr>
						<h4>Télécharger une photo de profil</h4>
						<div class="form-inline upload_1">
							<div class="form-group">
								<input type="file" name="files[]" id="js-upload-files" multiple>
							</div>
						</div>

						<hr>
						<button type="submit" class="btn_1 green">Mettre à jour le profil</button>

					</section>
				{% endif %}

					</div>
					<!-- End content -->
				</div>
				<!-- End tabs -->
			</div>
			<!-- end container -->
	</main>
{% endblock %}